/* Reset Selector:*/

* {
    margin: 0;
    padding: 0;
}

/* Style rules for ELEMENTS */
a {
    color: burlywood;
}

p {
	color: beige;
	font-size: 2em;
}

/*Style rules for HTML element*/
html {
    background-image: url(../images/home_backgroundImage.jpg);
	background-size: contain;
}

/*Style rules for BODY element*/
body {
    width: 98%;
    margin: 0 auto;
    text-align: center;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: bisque;
}

/* Style Rules for HEADER */

header {
	width: 100%;
	float: left;
	height: 10%;
	position: sticky;
	top: 0;
	padding-bottom: 2em;
}

header img {
	float: left;
	width: 10%;
}

header img a {
	height: 20px;
	width: 20px;
}

/* the styles for nav_menu */
#nav_menu {
	padding-bottom: 2em;
	height: 100%;
}

#nav_menu img {
	margin-right: 20em;
}

#nav_menu ul {
	list-style-type: none;
    position: relative;
}

#nav_menu ul li {
	float: left;
	position: relative;
	padding-left: 1em;
	font-size: 120%;
}

#nav_menu ul ul {
	width: 100%;
	position: absolute;
	top: 100%;
	display: none;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu ul ul li {
    width: 100%;
    clear: both;
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#nav_menu ul li a {
	display: block;
	width: auto;
	height: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 150%;
}

#nav_menu ul li a:hover, a:focus {
	text-decoration: underline;
}

#nav_menu ul li a.current {
	text-decoration: underline;
}

/* Style rules for body */
body {
	width: 100%;
}

h1 {
	color: rgb(106, 24, 109);
    font-family:cursive;
	font-style: italic;
	font-size: 300%;
    text-shadow: 8px 8px 8px black;
	text-align: center;
	padding-bottom: 2em;
	text-decoration: underline;
}

/* Styles rules for sidebarA */
#sidebarA {
    width: 48%;
    float: right;
}

#sidebarA figure {
    padding-bottom: 1em;
}

#sidebarA img {
    width: 100%;
	max-width: 550px;
	min-width: 550px;
}

.merchImage {
	transition: 2s ease;
}

.merchImage:hover {
	transform: scale(1.4);
}

/* Style rules for MAIN element */
main {
	width: 48%;
}

main figure {
	width: 100%;
	padding-bottom: 1em;
}

main img {
	width: 100%;
	max-width: 550px;
	min-width: 550px;
}

figcaption {
	font-size: 2em;
	text-align: center;
}

button {
    width: 10%;
	height: 30px;
}

/* Style rules for footer */
footer {
	clear: both;
}

/* styles for social_media_menu */
#social_media_menu {
	clear: both;
	margin: 0 auto;
	position: relative;
    /* float: left; */
	width:14%;
}

#social_media_menu ul {
	list-style-type: none;
	/* padding-left: 59em; */
	/* margin: 0 auto; */
}

#social_media_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#social_media_menu ul li {
	float: left;
	padding-left: 1em;
	font-size: 120%;
}

#social_media_menu ul li a {
	display: block;
	width: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
} 

#social_media_menu ul li a {
	display: block;
	width: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
}

/* Style rules for media queries */
#mobile_menu {
    display: none;
}

/* Media query for 1024 */
@media only screen and (max-width:1024px){
    body {
        height: auto;
    }

    #sidebarB {
        width: 50%;
    }

    h2::first-letter-letter {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

}

/* Media query for 768px */
@media only screen and (max-width:768px){
    #nav_menu{
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    #header {
        position: relative; /*undu sticky*/
    }

    #sidebarA, section, #sidebarB {
        float: none;
        clear: both;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
}