/* Reset Selector:*/

* {
    margin: 0;
    padding: 0;
}

/* Style rules for ELEMENTS */
a:hover {
    cursor: url(../images/fist_icon.jpg);
}

a {
    color: burlywood;
}

p {
    padding-top: .4em;
}

/*Style rules for HTML element*/
html {
    background-image: url(../images/home_backgroundImage.jpg);
	background-size: contain;
}

/* Style Rules for HEADER */

header {
	width: 100%;
	float: left;
	height: 10%;
	position: sticky;
	top: 0;
}

header img {
	float: left;
	width: 10%;
}

/* the styles for nav_menu */
#nav_menu {
	padding-bottom: 2em;
}

#nav_menu img {
	margin-right: 20em;
}

#nav_menu ul {
	list-style-type: none;
    position: relative;
}

#nav_menu ul li {
	float: left;
	position: relative;
	padding-left: 1em;
	font-size: 120%;
}

#nav_menu ul ul {
	width: 100%;
	position: absolute;
	top: 100%;
	display: none;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu ul ul li {
    width: 100%;
    clear: both;
}

#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#nav_menu ul li a {
	display: block;
	width: auto;
	height: 0.1em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 150%;
}

#nav_menu ul li a:hover, a:focus {
	text-decoration: underline;
}

#nav_menu ul li a.current {
	text-decoration: underline;
}

/*Style rules for BODY element*/
body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: bisque;
}


/*Style rules for MAIN element*/
main {
    width: 40%;
    margin: 0 auto;
}

/* Style rules for FORM element */
form a {
    text-align: center; 
}

form p {
    text-align: left;
	width: 150%;
}

form input {
	text-align: left;
}

#send {
    text-align: left;
}

#resetForm {
	text-align: left;
}

/*Style rules for FOOTER element*/
footer {
    color: beige;
	clear: both;
	padding-top: 1em;
}

footer p {
	text-align: center;
}

/* styles for social_media_menu */
#social_media_menu {
	clear: both;
	margin: 0 auto;
	position: relative;
	width:14%;
}

#social_media_menu ul {
	list-style-type: none;
}

#social_media_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

#social_media_menu ul li {
	float: left;
	padding-left: 1em;
	font-size: 120%;
}

#social_media_menu ul li a {
	display: block;
	width: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	color: white;
	font-weight: bold;
} 

#social_media_menu ul li a {
	display: block;
	width: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
}

/* Style rules for media queries */
#mobile_menu {
    display: none;
}

/* Media query for 1024 */
@media only screen and (max-width:1024px){
    body {
        height: auto;
    }

    #sidebarB {
        width: 50%;
    }

    h2::first-letter-letter {
        font-size: 4em;
    }

    h2 {
        font-size: 3em;
    }

}

/* Media query for 768px */
@media only screen and (max-width:768px){
    #nav_menu{
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    #header {
        position: relative; /*undu sticky*/
    }

    #sidebarA, section, #sidebarB {
        float: none;
        clear: both;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    
}